/* App.css */
body {
  background-color: #1e1e1e; /* Dark background color */
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  color: #fff; /* Text color */
}

select, button {
  font-size: 16px;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #444; /* Dark gray background color for inputs */
  color: #fff; /* Text color */
  cursor: pointer;
}

select {
  width: 100px;
}

button {
  width: 100px;
}

.synth {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;
}

.button--square {
  width: 50px;
  height: 50px;
  background-color: #333; /* Dark square button background color */
  color: #fff; /* Text color */
  border: 1px solid #555; /* Darker border color */
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button--black {
  background-color: #000; /* Black key background color */
}

.button--small {
  font-size: 24px;
  width: 40px;
  height: 40px;
  background-color: #333; /* Dark small button background color */
}

.button--circle {
  font-size: 24px;
  width: 40px;
  height: 40px;
  background-color: #333; /* Dark circle button background color */
  border-radius: 50%;
}

/* Remove the red background color when clicked */
.clicked {
  animation: none;
}
