/* Global Styles */
:root {
  --background-color: #f0f0f0; /* White background */
  --container-background: #f0f0f0; /* Slightly gray background for the container */
  --text-color: #000000; /* Black text */
  --button-bg: #e0e0e0; /* Light gray for buttons */
  --button-bg-active: #b0b0b0; /* Slightly darker gray for active buttons */
  --button-bg-hover: #d0d0d0; /* Medium gray for hover */
  --border-color: #000000; /* Black border color */
}

/* Global Styles */
body {
  background-color: var(--background-color);
  margin: 0;
}

/* Container */
.App {
  background-color: var(--container-background);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

/* Scale Buttons */
.scale-button,
.key-button,
.checkbox-button,
.arpeggio-button {
  grid-column: span 2; /* Full-width button */
  background-color: var(--button-bg);
  color: var(--text-color);
  border: 2px dotted var(--border-color); /* Dotted black border */
  padding: 20px 30px;
  margin: 8px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 15px;
  transition: background-color 0.3s, transform 0.2s;
}

.active {
  background-color: var(--button-bg-active);
  transform: scale(1.1);
}

.synth {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 2px dotted;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  flex-wrap: wrap;
}

.logo {
  width: 10%;
  padding: 10px 30px;
  padding-top: 25px;
}

.scale-button:hover,
.key-button:hover,
.checkbox-button:hover,
.arpeggio-button:hover {
  background-color: var(--button-bg-hover);
  transform: scale(1.05);
}

/* Piano Key Buttons */
.piano-key {
  grid-column: span 2; /* Full-width button */
  background-color: var(--container-background);
  color: var(--text-color);
  border: 2px dotted var(--border-color); /* Dotted black border */
  padding: 200px 115px;
  margin: 8px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 15px;
  transition: background-color 0.3s, transform 0.2s;
}

.piano-key.active {
  background-color: var(--button-bg-active);
  transform: scale(1.1);
}

.piano-key:hover {
  background-color: var(--button-bg-hover);
  transform: scale(1.01);
}

/* Bass Buttons */
.bass-buttons button {
  grid-column: span 1;
  background-color: var(--container-background);
  color: var(--text-color);
  border: 2px dotted var(--border-color); /* Dotted black border */
  padding: 30px 60px;
  margin: 8px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 15px;
  transition: background-color 0.3s, transform 0.2s;
}

.bass-buttons button:hover {
  background-color: var(--button-bg-hover);
  transform: scale(1.05);
}

/* Dropdown Styling */
.key-dropdown {
  background-color: var(--button-bg);
  color: var(--text-color);
  border: 2px dotted var(--border-color); /* Dotted black border */
  padding: 15px 30px;
  margin: 8px;
  font-size: 15px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 100%;
  appearance: none; /* Removes default dropdown arrow for custom styling */
}

.key-dropdown:focus {
  outline: none; /* Remove default focus outline */
}

.key-dropdown:hover {
  background-color: var(--button-bg-hover);
  transform: scale(1.05);
}

/* Dropdown Arrow Styling (Optional) */
.key-dropdown::after {
  content: '\25BC'; /* Unicode for down arrow */
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--text-color);
}

header, footer {
  border: 2px dotted black;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

a {
  color: black;
}